* { margin:0; padding:0; }

html, body{
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
}

#canvas {
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  display: block;
}
